/*
From heropatterns.com, just copied in as per their instructions
*/
body {
  background-color: #f5f5f5;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23c6c6c6' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

main {
  padding: 2rem;
  padding-top: 0.2rem;
  border-radius: 0.2rem;
  outline: 0.5rem double #144f5a; /* #c6c6c6; */
  outline-offset: -1rem;
}

nav {
  text-align: center;
}

nav button {
  font-size: 1.4rem;
}

h2 {
  font-size: 3rem;
}